# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
@EXPLICIT
https://repo.continuum.io/pkgs/free/linux-64/alabaster-0.7.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/anaconda-client-1.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/babel-2.2.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bedtools-2.25.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/biopython-1.66-np110py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/bx-python-0.7.3-np110py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cairo-1.12.18-6.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/click-4.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/clyent-1.2.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/coverage-4.0-py27_0.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/curl-7.45.0-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/cycler-0.9.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/decorator-4.0.6-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/docutils-0.12-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/flake8-2.5.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/fontconfig-2.11.1-5.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/freetype-2.5.5-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython-4.1.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/ipython_genutils-0.1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/jinja2-2.8-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libgfortran-1.0-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libpng-1.6.17-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/libxml2-2.9.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/markupsafe-0.23-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/matplotlib-1.5.0-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mccabe-0.3.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/mkl-11.3.1-0.tar.bz2
https://conda.anaconda.org/richardotis/linux-64/nose2-0.5.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/numpy-1.10.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openblas-0.2.14-3.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/openssl-1.0.2f-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pandas-0.17.1-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/path.py-8.1.2-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/patsy-0.4.0-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pep8-1.7.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pexpect-3.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pickleshare-0.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pip-8.0.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pixman-0.32.6-0.tar.bz2
https://conda.anaconda.org/Chroxvi/linux-64/pockets-0.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/py2cairo-1.10.0-py27_2.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pybedtools-0.7.6-py27_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pybigwig-0.2.5-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyflakes-1.0.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pygments-2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyparsing-2.0.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyqt-4.11.4-py27_1.tar.bz2
https://conda.anaconda.org/bioconda/linux-64/pysam-0.8.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-2.7.11-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/python-dateutil-2.4.2-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pytz-2015.7-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/pyyaml-3.11-py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/qt-4.8.7-1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/readline-6.2-2.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/requests-2.9.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/scipy-0.17.0-np110py27_1.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/setuptools-20.1.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/simplegeneric-0.8.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sip-4.16.9-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/six-1.10.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/snowballstemmer-1.2.1-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sphinx-1.2.3-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sphinx_rtd_theme-0.1.9-py27_0.tar.bz2
https://conda.anaconda.org/Chroxvi/linux-64/sphinxcontrib-napoleon-0.4.4-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/sqlite-3.9.2-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/statsmodels-0.6.1-np110py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/tk-8.5.18-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/traitlets-4.1.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/wheel-0.29.0-py27_0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/yaml-0.1.6-0.tar.bz2
https://repo.continuum.io/pkgs/free/linux-64/zlib-1.2.8-0.tar.bz2
