include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include environment.yml
include application.cfg.example

recursive-include tests *.py
recursive-exclude test/data/generated_out *
recursive-exclude test/data/moca_output *
recursive-include tests/data/
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile
