biopython==1.68
certifi==2016.8.31
click==6.6
coverage==4.2
cycler==0.10.0
functools32==3.2.3.post2
future==0.15.2
matplotlib==1.5.3
mmtf-python==1.0.2
moca==0.3.0
msgpack-python==0.4.7
numpy==1.11.1
pandas==0.18.1
patsy==0.4.1
Pillow==3.3.1
py==1.4.31
pybedtools==0.7.8
pyBigWig==0.2.8
pycairo==1.10.0
pyparsing==2.1.8
pysam==0.9.1
pytest==3.0.2
pytest-cov==2.3.1
pytest-mpl==0.5
python-dateutil==2.5.3
pytz==2016.6.1
reportlab==3.3.0
scipy==0.18.0
seaborn==0.7.1
six==1.10.0
statsmodels==0.6.1
tqdm==4.8.4
