biopython>=1.68
click>=6.6
click-help-colors>=0.3
coverage>=4.2
future>=0.16.0
matplotlib>=2.0.0
numpy>=1.11.3
pandas>=0.19.2
pybedtools>=0.7.9
pyBigWig>=0.2.8
pytest>=3.0.5
pytest-cov>=2.4.0
pytest-mpl>=0.5
scipy>=0.18.1
seaborn>=0.7.1
six>=1.10.0
statsmodels>=0.6.1
tqdm>=4.7.2
