{% extends "bootstrap.html" %}
{% block scripts %}
{{ super()  }}
{% endblock %}
{% block content %}

        <form class="form-horizontal" method="post" action="/" enctype="multipart/form-data" accept-charset="utf-8" role="form">
           <div class="form-group text-center center">
                <h3>Run MoCA</h3>
           </div>
             <div class="form-group">
                 <label class="col-sm-4 control-label"><b>Assembly</b></label>
                <div class="col-sm-4">
                    <select class="form-control" id="assembly">
                        <option name="assembly" value="hg19">Human: hg19 (Feb. 2009 (GRCh37/hg19)) </a></option>
                        <option name="assembly" value="hg38">Human: hg38 (Dec. 2013 (GRCh38/hg38))
                        <option name="assembly" value="mm9">Mouse: mm10 (Dec. 2011 (GRCm38/mm10))</option>
                        <option name="assembly" value="mm10">Mouse: mm9 (July 2007 (NCBI37/mm9))</option>
                        <option name="assembly" value="dm6">Drosophila: dm6 (Aug. 2014 (BDGP Release 6 + ISO1 MT/dm6))</option>
                        <option name="assembly" value="dm3">Drosophila: dm3 (Apr. 2006 (BDGP R5/dm3))</option>
                        <option name="assembly" value="ce11">C.elegans: ce11 (Feb. 2013 (WBcel235/ce11))</option>
                        <option name="assembly" value="ce10">C.elegans: ce10 (Oct. 2010 (WS220/ce10))</option>
                        <option name="assembly" value="ce9">C.elegans: ce6 (WS190/ce6)</option>
                    </select>
                </div>
            </div>
             
            <div class="form-group">
                 <label class="col-sm-4 control-label"><b>BED</b></label>
                 <div class="col-sm-8">
                    <div class="radio">
                        <label><input type="radio" name="bedtype" value="file" checked="checked"><input type="file"/></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="bedtype" value="text"><textarea class="form-control" rows="10" cols="80" disabled></textarea></label>
                    </div>
                </div>
            </div>
            <div class="form-group text-center center">
                <input type="submit" class="btn btn-primary" name="Submit">
            </div>
        </form>
{% endblock %}

