img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */

}
.hide { display:none; }
body {
      padding-top: 50px;
      padding-bottom: 20px;

}
.centering{
float:none;
margin:0 auto
}
.image-panel{
background: grey;
height: 40px;
}
.img-text{
color: white;
	
    vertical-align:middle;
}

.vertical-center {
color: white;

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: left;
}
.vertical-align {
    display: flex;
    align-items: center;
}

@media print {
    a {
        display: none;
    }
}
